body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

/*Скрытое содержимое без потери доступности*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Контейнер для выравнивания содержимого по центру*/

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Удаление маркеров у списков*/

.main-header li,
.main-footer li,
.main-content li {
  list-style: none;
}

/*УДаление подчеркивания у ссылок*/

.main-header a,
.main-footer a,
.main-content a,
.modal a {
  text-decoration: none;
}



.catalog-page h1,
.main-content h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-page h1 {
  margin: 0 0 20px;
  padding: 30px 28px 29px;

  color: #32425c;
  background-color: #f2f6f8;
}

.popular-header h2 {
  color: #32425c;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.services-content h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

/*"Шапка" страницы*/

.main-header {
  margin-bottom: 59px;
}

.catalog-page .main-header {
  margin: 0;
}

.header-top {
  background-color: #293449;
}

.header-top .container {
  display: flex;

  background-color: #293449;
}

/*Логотип*/

.header-logo,
.footer-logo {
  display: block;

  width: 220px;

  background-color: #ee3643;

  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo:hover,
.footer-logo:hover,
.header-logo:focus,
.footer-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.header-logo img {
  width: 110px;
  height: 18px;

  padding: 13px 55px 11px;

  vertical-align: middle;
}

/*Форма поиска*/

.search-form input[type="search"],
.ordering-menu a {
  color: #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.search-form {
  position: relative;

  width: 270px;

  background-color: #293449;
}

.search-form::before {
  position: absolute;
  content: "";

  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  background: url("../img/icon-search.svg") no-repeat 0 0;

  opacity: 0.3;
}

.search-form:hover,
.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}

.search-form:hover::before,
.search-form:focus::before,
.search-form:focus-within::before,
.bookmarks:hover::before,
.bookmarks:focus::before,
.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.search-form:focus::before,
.search-form:focus-within::before {
  background: url("../img/icon-search-focus.svg");
}

.search-form input[type="search"] {
  width: 100%;
  padding: 12px 0 12px 49px;

  background-color: inherit;

  border: none;
}

.search-form input[type="search"]::placeholder {
  color: #ffffff;
}

.search-form input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

/*Меню заказов*/

.ordering-menu {
  display: flex;

  margin: 0;
  padding: 0;
}

.ordering-menu a {
  display: block;
  box-sizing: border-box;

  min-width: 150px;
  padding: 12px;
}

.ordering-menu .bookmarks {
  position: relative;

  padding-left: 44px;
}

.ordering-menu .cart {
  position: relative;

  padding-left: 50px;
}

.bookmarks::before {
  position: absolute;
  content: "";

  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background: url("../img/icon-bookmark.svg") no-repeat 0 0;

  opacity: 0.3;
}

.cart::before {
  position: absolute;
  content: "";

  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;

  opacity: 0.3;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.ordering-menu .order {
  background-color: #63a63e;

  text-align: center;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.item-in-cart {
  background-color: #ee3643;
}

.header-bottom {
  background-color: #f4f7f9;
}

.header-bottom .container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  padding: 46px 10px 65px;

  background-color: #f4f7f9;
}

/*Заголовок главной страницы*/

.title {
  width: 197px;
  margin: 3px 71px 0 auto;

  color: #ee3643;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

/*Контакты "шапки"*/

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 270px;
  margin: 0;
  padding: 0;
}

.header-contacts a {
  position: relative;
  display: block;

  width: 144px;
  padding: 10px 49px 8px 71px;

  border: 3px solid #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts a::before {
  position: absolute;
  content: "";

  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg") no-repeat 0 0;
}

.header-contacts p {
  margin: 4px 0 0;

  color: #32425c;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

/*Пользовтаельское меню*/

.user-menu {
  display: flex;
  justify-content: space-between;

  width: 281px;
  margin: 0 0 0 69px;
  padding: 0;
}

.login {
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 300px;
  margin: 0 0 0 50px;
}

.login-link,
.registration-link,
.logout-link {
  display: block;

  color: #000000;
  background-color: #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.login-link {
  position: relative;
  box-sizing: border-box;

  width: 121px;
  padding: 12px 15px 12px 48px;
}

.login-link::before {
  position: absolute;
  content: "";

  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background: url("../img/icon-login.svg") no-repeat 0 0;
}

.login-link:hover::before,
.login-link:focus::before {
  background: url("../img/icon-login-focus.svg") no-repeat 0 0;
}

.login-link:active::before {
   background: url("../img/icon-login.svg") no-repeat 0 0;
}

.registration-link {
  width: 150px;

  padding: 12px 0;

  text-align: center;
}

.login-link:hover,
.login-link:focus,
.registration-link:hover,
.registration-link:focus {
  color: #ee3643;
}

.login-link:active,
.registration-link:active,
.logout-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.logout-link {
  position: relative;
  box-sizing: border-box;

  width: 300px;
  padding: 12px 68px 12px 46px;
}

.logout-link::before {
  position: absolute;
  content: "";

  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background: url("../img/icon-user.svg") no-repeat 0 0;
}

.logout-link::after {
  position: absolute;
  content: "";

  top: 13px;
  left: 270px;

  width: 20px;
  height: 17px;

  background: url("../img/icon-logout.svg") no-repeat 0 0;
}

.logout-link:hover::before,
.logout-link:focus::before {
  background: url("../img/icon-user-focus.svg") no-repeat 0 0;
}

.logout-link:hover::after,
.logout-link:focus::after {
  background: url("../img/icon-logout-focus.svg") no-repeat 0 0;
}

.logout-link:active::before {
  background: url("../img/icon-user.svg") no-repeat 0 0;
}

.logout-link:active::after {
  background: url("../img/icon-logout.svg") no-repeat 0 0;
}

.orders-link,
.profile-link {
  display: block;

  margin: 4px 0 0;

  color: #32425c;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

a.orders-link,
a.profile-link {
  text-decoration: underline;
}

.orders-link {
  margin: 4px 0 0 17px;
}

.point {
  width: 4px;
  height: 4px;
  margin: 11px 15px 0;

  background-color: #32425c;

  border-radius: 50%;
}

.orders-link:hover,
.orders-link:focus,
.profile-link:hover,
.profile-link:focus {
  color: #ee3643;
}

.orders-link:active,
.profile-link:active {
  color: rgba(50, 66, 92, 0.3);
}

/*Главное меню*/

.header-menu {
  width: 940px;
  margin: 39px 0 0;
  padding: 0 26px;

  background-color: #32425c;

  box-shadow: 0 5px 0 0 #293449;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.site-menu a {
  display: block;

  padding: 20px 30px 18px;

  color: #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
}

.site-menu a:hover,
.site-menu a:focus {
  background-color: #293449;
}

.site-menu a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*Промо-блок*/

.promos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 53px;
}

.promos .new-flag::after {
  position: absolute;
  content: "";

  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.promos-top {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 20px;
}

.promos-bottom {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.promos-bottom-right {
  display: flex;
  flex-direction: column;
}

/*Промо-категории*/

.category {
  position: relative;
  box-sizing: border-box;

  width: 300px;
  padding: 22px 24px;
}

.category h3 {
  margin: -1px 0 12px -2px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.category-materials {
  background-color: #ffbf47;
}

.category-materials::before {
  position: absolute;
  content: "";

  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background: url("../img/icon-1.svg") no-repeat 0 0;
}

.category-tools {
  background-color: #3bbce3;
}

.category-tools::after {
  position: absolute;
  content: "";

  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background: url("../img/icon-2.svg") no-repeat 0 0;
}

.category-technics {
  background-color: #dc91d8;
}

.category-technics::after {
  position: absolute;
  content: "";

  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background: url("../img/icon-3.svg") no-repeat 0 0;
}

.category-discounts {
  margin: 0 0 20px;

  background-color: #8ed78f;
}

.category-discounts::after {
  position: absolute;
  content: "";

  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background: url("../img/icon-4.svg") no-repeat 0 0;
}

.category-delivery {
  background-color: #ffc047;
}

.category-delivery::after {
  position: absolute;
  content: "";

  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background: url("../img/icon-5.svg") no-repeat 0 0;
}

.category-button {
  display: block;

  width: 135px;
  padding: 11px 0 9px;

  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 3px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.category-button:hover,
.category-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/*Слайдер промо-блока*/

.slider {
  position: relative;
}

.slider-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;

  top: 115px;
  left: 25px;
  z-index: 100;

  width: 570px;
  height: 40px;

  font-size: 0;
}

.slider-arrows label {
  position: relative;
}

.slider-arrows .slider-left-arrow::after {
  position: absolute;
  content: "";

  top: 0;
  left: 0;

  width: 22px;
  height: 40px;

  background: url("../img/icon-left.svg") no-repeat 0 0;
  cursor: pointer;
}

.slider-arrows .slider-right-arrow::before {
  position: absolute;
  content: "";

  top: 0;
  right: 0;

  width: 22px;
  height: 40px;

  background: url("../img/icon-right.svg") no-repeat 0 0;
  cursor: pointer;
}

.slider-controls {
  position: absolute;

  left: 290px;
  bottom: 31px;
  z-index: 100;

  width: 40px;
  height: 20px;

  font-size: 0;
}

.slider-controls label {
  position: relative;
  display: inline-block;

  width: 10px;
  height: 10px;
  padding: 5px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  position: absolute;
  content: "";

  top: 5px;
  left: 5px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border-radius: 50%;
}

.slider-content {
  margin: 0;
  padding: 0
}

.slide {
  position: relative;
  display: none;
  box-sizing: border-box;

  width: 620px;
  padding: 22px 24px;
}

.slide:nth-child(1) {
  background: url("../img/slider-1.jpg") no-repeat 0 0;
}

.slide:nth-child(2) {
  background: url("../img/slider-2.jpg") no-repeat 0 0;
}

#slider-radio-1:checked ~ .slider-content .slide:nth-child(1) {
  display: block;
}

#slider-radio-2:checked ~ .slider-content .slide:nth-child(2) {
  display: block;
}

#slider-radio-1:checked ~ .slider-controls .slider-radio-slide-1::before,
#slider-radio-2:checked ~ .slider-controls .slider-radio-slide-2::before {
  position: absolute;
  content: "";

  left: 50%;
  top: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -3px -3px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slide b {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.slide p {
  margin: 2px 0 121px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slide .button {
  width: 195px;
  margin: 0;
}

/*"Шапка" популярного раздела*/

.popular-header {
  display: flex;
  justify-content: space-between;

  margin: 0 0 20px;
  padding: 25px 24px 26px;

  background-color: #f9f5f0;
}

.popular-header h2 {
  display: inline;

  margin: 5px 0 3px 4px;
}

.popular-header .button {
  display: block;

  width: 254px;
  padding: 11px 0 9px;

  border-radius: 3px;
}

/*Популярные производители*/

.manufacturers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 0 65px;
  padding: 0;
}

.manufacturer {
  display: flex;

  width: 218px;
  height: 143px;
  margin: 0 0 20px;

  border: 1px solid #e5e5e5;

  text-align: center;
}

.manufacturer:hover,
.manufacturer:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer a {
  margin: auto;
}

/*Сервисы*/

.services {
  margin: 0 0 79px;

  background-color: #f4f7f9;
}

.services .container {
  background-color: #f4f7f9;
  padding: 65px 10px 0;
}

.services h2 {
  margin: 0 0 26px;
}

.services p {
  width: 400px;
  margin: 0 0 69px;
}

.services-content {
  display: flex;
  justify-content: space-between;
}

.services-slider {
  position: relative;
  width: 240px;
}

.services-slider,
.services-description {
  margin: 0;
  padding: 0;
}

.services-slider::before {
  position: absolute;
  content: "";

  top: -40px;
  left: 230px;

  width: 10px;
  height: 272px;

  background: url("../img/shadow.png") no-repeat 0 0;
}

.services-slider-button label {
  box-sizing: border-box;
  display: block;

  padding: 13px 130px 17px 22px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;

  cursor: pointer;
}

.services-slider-button label:hover,
.services-slider-button label:focus {
  background-color:  #293449;
}

.services-slider-button input:checked + label {
  color: #32425c;

  background-color: #ffffff;
  border-color:#ffffff;
}

.services-description {
  width: 620px;
}

.services-description h3 {
  margin: 0
}

.services-delivery p {
  width: 275px;
  margin: 0;
}

.services-warranty p {
  width: 379px;
  margin: 0;
}

.services-credit p {
  width: 279px;
  margin: 0;
}

.services-credit .button {
  width: 195px;
}

/*Компания и контакты*/

.company-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.company {
  width: 520px;
}

.contacts {
  width: 300px;
}

.company h2,
.contacts h2 {
  margin: 0 0 26px;
}

.company p {
  margin: 0 0 24px;
}

.contacts p {
  margin: 0;
}

.partners-list {
  margin: -3px 0 16px;
  padding: 0;
}

.partners-list li {
  position: relative;
  padding: 0 0 20px 35px;
}

.partners-list li::before {
  position: absolute;
  content: "";

  left: 0;
  top: 9px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.company .button {
  width: 220px;
}

.contacts .map {
  display: block;
  margin: 31px 0 33px;
}

.contacts img {
  width: 300;
  height: 158;
}

.contacts .button {
  width: 100%;
}

/*Меню "хлебных крошек"*/

.breadcrumbs {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 18px 0 17px;
}

.breadcrumbs li {
  position: relative;
  margin: 0 42px 0 0;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";

  top: 5px;
  right: -25px;

  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs-index {
  width: 12px;
}

.breadcrumbs a {
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-index a {
  position: absolute;

  top: 5px;
  left: -2px;

  width: 14px;
  height: 12px;

  text-indent: -1000px;
  overflow: hidden;

  background: url("../img/icon-home.svg") no-repeat 0 0;
}

/*Фильтры, сортировка и каталог*/

.filters-sorting-catalog {
  display: flex;
  justify-content: space-between;
}

.filters h2,
.sorting h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.filters h2 {
  box-sizing: border-box;

  width: 220px;
  margin: 0 0 12px;
  padding: 10px 0 10px 19px;

  background-color: #f7f3ec;

  border-radius: 3px;
}

.sorting h2 {
  margin: 10px 0 10px 19px;
}

.filters {
  width: 220px;
  margin: 0 20px 0 0;
}

.sorting-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 0 60px;
}

/*Фильтры*/

.price-slider {
  background-color: #f7f3ec;
}

.price-min,
.price-max {
  width: 95px;
  padding: 9px 0 11px;

  background-color: #f7f3ec;

  border: none;
  border-radius: 3px;
}

.span {
  margin-left: 5px;
  margin-right: 5px;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter fieldset:nth-child(1) {
  margin: 0 0 17px;
  padding: 0 0 25px;
}

.filter fieldset:nth-child(2) {
  margin: 0 0 18px;
  padding: 0 0 2px;
}

.filter fieldset:nth-child(3) {
  margin: 0 0 58px;
}

.filter fieldset:nth-child(1),
.filter fieldset:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
}

.filter legend  {
  margin: 0 0 13px;

  font-family: PTSans, Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.manufacturers-filter,
.supplies-filter{
  margin: 0;
  padding: 0;
}

.filter-option {
  margin: 0 0 20px;
  padding: 0 0 0 34px;
}

.filter-option label {
  display: block;
  position: relative;

  cursor: pointer;
  user-select: none;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";

  top: -2px;
  left: -35px;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  content: "";

  top: -2px;
  left: -35px;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";

  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-input-radio:checked + label::before {
  position: absolute;
  content: "";

  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter input[type="text"],
.filter input[type="checkbox"],
.filter input[type="radio"] {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.filter-button {
  box-sizing: border-box;

  width: 140px;
  padding: 12px 0 10px;

  background-color: #ffffff;

  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3643;
}

/*Сортировка*/

.sorting {
  display: flex;
  justify-content: space-between;

  width: 700px;
  margin: 0 0 20px;
  padding: 0;

  background-color: #f7f3ec;

  border-radius: 3px;
}

.sorting-options {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-options a {
  display: block;

  margin: 10px 0;

  line-height: 18px;
  text-transform: uppercase;
}

.not-selected {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.selected {
  color: #ee3643;

  border-bottom: none;
}

.not-selected:hover,
.not-selected:focus {
  color: rgba(0, 0, 0, 1);

  border-bottom: 1px solid #ee3643;
}

/*Каталог*/

.catalog {
  width: 700px;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0;
}

.catalog-items .new-flag::before {
  position: absolute;
  content: "";

  top: -1px;
  right: -1px;
  z-index: 20;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 218px;
  margin: 0 20px 20px 0;

  border: 1px solid #e5e5e5;

  text-align: center;
}

.catalog-item:last-child,
.catalog-page .catalog-item:nth-child(3n) {
  margin: 0 0 20px 0;
}

.catalog-item:hover,
.catalog-item:focus  {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item::after {
  position: absolute;
  content: "";

  top: 258px;
  right: 20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item-actions {
  position: absolute;

  top: 0;
  left: 0;
  z-index: 10;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
}

.catalog-item-actions .buy,
.catalog-item-actions .bookmark {
  display: block;

  width: 129px;
  margin: 3px auto 8px;
  padding: 8px 0 6px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border: 3px solid #63a63e;
  border-radius:3px;
}

.catalog-item-actions .buy {
  position: relative;

  color: #ffffff;
  background-color: #63a63e;
  border-bottom-color: #367315;
}

.catalog-item-actions .buy::before  {
  position: absolute;
  content: "";

  top: 8px;
  left: 10px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.catalog-item-actions .bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #63a63e;
}

.catalog-item .catalog-item-actions {
  display: none;
}

.catalog-item:hover .catalog-item-actions,
.catalog-item:focus .catalog-item-actions {
  display: block;
}

.catalog-item-actions .buy:hover,
.catalog-item-actions .buy:focus {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item-actions .bookmark:hover,
.catalog-item-actions .bookmark:focus {
  border: 3px solid #32425c;
}

.catalog-item-actions .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item-actions .bookmark:active {
  opacity: 0.3;
}

.catalog-item-actions .buy:hover::before,
.catalog-item-actions .buy:focus::before,
.catalog-item-actions .buy:active::before  {
  opacity: 1;
}

.catalog-item img {
  width: 218px;
  height: 168px;
}

.catalog-item-title {
  margin: 11px 0 0;
  padding: 0 25px;
}

.catalog-item-old-price {
  margin: 11px 0 10px;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  color: #999999;
}

.catalog-item-price {
  display: block;
  position: relative;

  width: 80px;
  margin: auto 36px 20px 42px;
  padding: 10px 30px;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

/*Пагинатор*/

.pagination-list {
  display: flex;
  justify-content: flex-start;

  margin: 32px 0 0;
  padding: 0;
}

.pagination-list a {
  display: block;
  box-sizing: border-box;

  width: 38px;
  margin: 0 10px 0 0;
  padding: 9px 0 9px;

  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

.pagination-list .active-page {
  background-color: #ee3643;
  color: #ffffff;

  border: 1px solid #ee3643;
  border-radius: 3px;
}

.pagination-list .active-page:hover,
.pagination-list .active-page:focus,
.pagination-list .active-page:active {
  border: 1px solid #ee3643;
}

.pagination-list .next-page {
  width: 140px;
}

.partners-list li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

/*Пара слов*/

.about-item {
  background-color: #f4f7f9;
}

.about-item .container {
  background-color: #f4f7f9;
}

.about-item h2,
.about-item p {
  margin: 0;
}

/*Кнопка*/

.button {
  display: block;

  padding: 11px 0 9px;

  background-color: #ee3643;

  border-radius: 3px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/*"Подвал" страницы*/

.footer-top {
  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;

  background-color: #32425c;
}

.footer-top,
.footer-menu-top a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

/*Меню и контакты "подвала"*/

.footer-menu-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.footer-menu-top li {
  margin: 38px 0 0 60px;
}

.footer-logo img {
  width: 138px;
  height: 23px;
  padding: 20px 41px;

  vertical-align: middle;
}

.footer-contacts {
  width: 323px;
  margin: 33px 5px 49px 0;
}

.footer-menu-bottom {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.footer-menu-bottom li {
  margin: 34px 0 0 60px;
}

.footer-menu-bottom a {
  color: #ffd180;
}

.footer-menu-top a:hover,
.footer-menu-top a:focus,
.footer-menu-bottom a:hover,
.footer-menu-bottom a:focus {
  text-decoration: underline;
}

.footer-menu-top a:active,
.footer-menu-bottom a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;

  padding: 37px 10px 32px;

  background-color: #293449;
}

/*Копирайт, соцсети и обратная связь*/

.footer-copyright {
  width: 227px;
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 131px;
  margin: -3px 0 0 162px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 41px;
  height: 41px;

  color: #ffffff;

  border-radius: 50%;
}

.social-vk {
  background: url("../img/icon-vk.svg") no-repeat 50% 50%;
  background-color: #212a3a;
}

.social-fb {
  background: url("../img/icon-fb.svg") no-repeat 50% 50%;
  background-color: #212a3a;
}

.social-insta {
  background: url("../img/icon-insta.svg") no-repeat 50% 50%;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-feedback {
  width: 135px;
  margin: 0 0 0 118px;
}

.footer-developer {
  width: 96px;
  margin: 0;
  margin-left: auto;
  margin-right: 15px;
}

.footer-feedback a,
.footer-developer a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-developer a:hover,
.footer-developer a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/*Модальные окна*/

.modal {
  width: 620px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 54px 80px 0;
}

.modal-bottom {
  display: flex;
  justify-content: center;

  padding: 37px 80px;

  background-color: #f4f4f4;
}

/*Окно обратной связи*/

.modal-feedback,
.modal-item-added {
  box-shadow: inset 0 7px 0 0 #ee3643;
}

.modal-feedback label {
  display: block;

  margin: 0 0 9px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-feedback input[type="text"],
.modal-feedback input[type="email"] {
  box-sizing: border-box;

  width: 220px;
  margin: 0 0 21px;
  padding: 10px 13px;
}

.modal-feedback textarea {
  box-sizing: border-box;

  width: 460px;
  height: 114px;
  resize: none;
  margin: 0 0 33px;
  padding: 10px 13px;
}

.modal-feedback input[type="text"],
.modal-feedback input[type="email"],
.modal-feedback textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-feedback input[type="text"]:hover,
.modal-feedback input[type="email"]:hover,
.modal-feedback textarea:hover {
  border: 2px solid #b5b5b5;
}

.modal-feedback input[type="text"]:focus,
.modal-feedback input[type="email"]:focus,
.modal-feedback textarea:focus {
  border: 2px solid #ee3643;
}

.modal-feedback input[type="text"]::placeholder,
.modal-feedback input[type="email"]::placeholder,
.modal-feedback textarea::placeholder {
  color: #999999;
}

.modal-feedback .modal-button {
  width: 460px;
  border: none;
}

/*Окно добавления товара в корзину*/

.modal-item-added p {
  position: relative;

  margin: 18px 0 68px;
  padding: 0 0 0 100px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.modal-item-added p::before {
  position: absolute;
  content: "";

  top: -17px;
  left: 0;

  width: 66px;
  height: 66px;

  background: url("../img/icon-mark.svg") no-repeat 0 0;
}

.ordering-button,
.catalog-button {
  width: 220px;
}

.modal-item-added .ordering-button {
  margin: 0 20px 0 0;
}

.catalog-button {
  color: #000000;
  background-color: #ffffff;
}

.catalog-button:hover,
.catalog-button:focus {
  color: #ffffff;
  background-color: #ca2c37;
}

.catalog-button:active {
  color: #ffffff;
  background-color: #ba2732;
}
