body {
  margin: 0;
  padding: 0;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;

  margin: -1px;

  clip: rect(0 0 0 0);
}

.page-title h1,
.main-content h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.page-title h1 {
  color: #32425c;
}

.popular-header h2 {
  color: #32425c;
}

.sorting h2,
.filters-title h2 {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

 .filters-title h2 {
  background-color: #f7f3ec;
}

.category h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-items h3 {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.services-content h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.main-header li,
.main-footer li {
  list-style: none;
}

.main-header a,
.main-footer a {
  text-decoration: none;
}

.header-top {
  background-color: #293449;
}

.header-logo img,
.footer-logo img {
  background-color: #ee3643;
}

.header-logo:hover img,
.footer-logo:hover img {
  background-color: #ca2c37;
}

.header-logo:active img,
.footer-logo:active img {
  background-color: #ba2732;
}

.header-top input,
.header-top a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-top input {
  background-color: inherit;

  border: none;
}

.header-top input:hover,
.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}

.header-top input:focus {
  color: #000000;

  background-color: #ffffff;
}

.header-top input::placeholder {
  color: #ffffff;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);
}

.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.item-in-cart {
  background-color: #ee3643;
}

.header-bottom {
  background-color: #f4f7f9;
}

 .title {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts p {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login-link,
.registration-link,
.exit-link {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-link:hover,
.registration-link:hover {
  color: #ee3643;
}

.login-link:active,
.registration-link:active,
.exit-link:active {
  color: rgba(0, 0, 0, 0.3);
}

a.orders-link ,
a.profile-link {
  text-decoration: underline;
}

.orders-link ,
.profile-link {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.orders-link:hover,
.profile-link:hover {
  color: #ee3643;
}

.orders-link:active,
.profile-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-menu {
  background-color: #32425c;
}

.site-menu a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}

.site-menu a:hover {
  background-color: #293449;
}

.site-menu a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.category-materials {
  background-color: #ffbf47;
}

.category-tools {
  background-color: #3bbce3;
}

.category-technics {
  background-color: #dc91d8;
}

.category-discounts {
  background-color: #8ed78f;
}

.category-delivery {
  background-color: #ffc047;
}

.category-button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.category-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider li,
.manufacturers li,
.catalog-items li,
.services li,
.filter li,
.sorting li {
  list-style: none;
}

.slider-content .slider-1 {
  background: url("../img/slider-1.jpg") no-repeat;
}

.slider-content .slider-2 {
  background: url("../img/slider-2.jpg") no-repeat;
}

.slider-content b {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.slider-content p {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-items li,
.manufacturers li {
  text-align: center;

  border: 1px solid #e5e5e5;
}

.manufacturers li:hover {
  opacity: 0.3;
}

.popular-header {
  background-color: #f9f5f0;
}

.services {
  background-color: #f4f7f9;
}

.services-toogle-button label {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;
}

.services-toogle-button label:hover {
  background-color:  #293449;
}

.services-toogle-button input:checked + label {
  color: #32425c;

  background-color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

}

.page-title {
  background-color: #f2f6f8;
}

.price-slider {
  background-color: #f7f3ec;
}

.price-min,
.price-max {
  background-color: #f7f3ec;

  border: none;
}

.filter fieldset {
  border: none;
}

.filter fieldset:nth-child(1),
.filter fieldset:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
}

.filter legend  {
  font-family: PTSans,  Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.filter input[type="text"] {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.filter-button {
  text-transform: uppercase;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3643;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting-options a {
  text-transform: uppercase;
  text-decoration: none;
}

.not-selected {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.selected {
  color: #ee3643;

  border-bottom: none;
}

.not-selected:hover {
  color: rgba(0, 0, 0, 1);

  border-bottom: 1px solid #ee3643;
}

.filter-option label {
  font-family: PT Sans,  Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item-actions a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffffff;
}

.catalog-item-actions .buy {
  color: #ffffff;

  background-color: #63a63e;
}

.catalog-item-actions .to-bookmarks {
  color: #32425c;

  border: 3px solid #63a63e;
}

.catalog-item-actions .buy:hover {
  background-color: #5fbb2d;
}

.catalog-item-actions .to-bookmarks:hover {
  border: 3px solid #32425c;
}

.catalog-item-actions .buy:active {
  background-color: #518534;
}

.catalog-item-actions .to-bookmarks:active {
  opacity: 0.3;
}

.catalog-item-old-price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  color: #999999;
}

.catalog-item-price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #e5e5e5;
}

.pagination-item:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

.pagination-item-current {
  color: #ffffff;

  background-color: #ee3643;

  border: none;
}

.partners-list li {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-item {
  background-color: #f4f7f9;
}

.button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;

  border: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.to-catalog {
  color: #000000;

  background-color: #ffffff;
}

.footer-top {
  background-color: #32425c;
}

.footer-top,
.footer-menu-top a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-menu-bottom a {
  color: #ffd180;
}

.footer-menu-top a:hover,
.footer-menu-bottom a:hover {
  text-decoration: underline;
}

.footer-menu-top a:active,
.footer-menu-bottom a:active {
  opacity: 0.5;
}

.footer-bottom {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.social-button {
  color: #ffffff;
}

.footer-feedback a,
.footer-developer a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-developer a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: #ee3643;
}

.modal-bottom {
  text-align: center;

  background-color: #f4f4f4;
}

.modal-feedback label {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-feedback input,
.modal-feedback textarea {
  border: 2px solid #d7dcde;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid #b5b5b5;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  border: 2px solid #ee3643;
}


.modal-feedback input::placeholder,
.modal-feedback textarea::placeholder {
  color: #999999;
}

.modal-item-added p {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}


/*----Сетка-----*/

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top-wrapper {
  width: 100%;
}

.header-top-wrapper .container {
  display: flex;
  justify-content: flex-start;

  background-color: #293449;
}

.header-logo {
  width: 220px;
}

.search-form {
  width: 270px;
}

.ordering-menu {
  width: 450px;
  margin: 0;
  padding: 0;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-bottom-wrapper {
  width: 100%;
}

.header-bottom-wrapper .container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 46px;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.title {
  width: 197px;
  margin: 0;
  padding: 0;
  margin-left: 53px;
}

.header-contacts {
  width: 270px;
  margin: 0;
  padding: 0;
  margin-left: 69px;
}

.user-menu {
  width: 281px;
  margin: 0;
  padding: 0;
  margin-left: 69px;
}

.site-menu {
  width: 940px;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.company-contacts {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 86px;
}

.company {
  width: 519px;
}

.contacts {
  width: 300px;
}

.partners-list {
  margin: 0;
}

.filters-sorting-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-title {
  width: 100%;
  order: 0;
  margin-bottom: 20px;
}

.filters-title {
  width: 220px;
  order: 1;
}

.filters-title h2 {
  margin: 0;
  margin-bottom: 20px;
}

.filters {
  width: 220px;
  order: 3;
}

.filter fieldset {
  margin: 0;
  padding: 0;
}

.price-max,
.price-min {
  width: 95px;
}

.span{
  margin-left: 6px;
  margin-right: 6px;
}

.manufacturers-filter,
.supplies-filter {
  margin: 0;
  padding: 0;
}

.sorting {
  width: 700px;
  order: 2;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.sorting-options {
  margin: 0;
  padding: 0;
}

.catalog {
  width: 700px;
  order: 4;

  margin-bottom: 20px;
  margin-left: 20px;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top-wrapper {
  width: 100%;
}

.footer-top-wrapper .container {
  display: flex;
  justify-content: flex-start;

  background-color: #32425c;
}

.footer-logo-contacts {
  width: 323px;
}

.footer-logo {
  width: 220px;
}

.footer-contacts {
  margin: 0;
}

.footer-menu {
  margin-left: 65px;
}

.footer-menu-top {
  margin: 0;
  padding: 0;
}

.footer-menu-bottom {
  margin: 0;
  padding: 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bottom-wrapper {
  width: 100%;
}

.footer-bottom-wrapper .container {
  display: flex;
  justify-content: flex-start;

  background-color: #293449;
}

.footer-copyright {
  width: 227px;
  margin: 0;
}

.footer-social {
  width: 132px;
  margin: 0;
  padding: 0;
  margin-left: 162px;
}


.footer-feedback {
  width: 135px;
  margin: 0;
  margin-left: 119px;
}

.footer-developer {
  width: 96px;
  margin: 0;
  margin-left: 53px;
}
